/* Basic reset */

/* Define A4 size in mm */
.a4-page {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  padding: 20px; /* Optional padding inside the page */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for screen view */
  overflow: hidden;
}

/* Optional print-specific styles */
@media print {
  body {
    margin: 0;
  }

  .a4-page {
    page-break-after: always; /* Ensures a new page for each .a4-page div when printing */
    margin: 0;
    padding: 10mm; /* Adjust print padding */
    box-shadow: none; /* Remove shadow in print */
  }
}

.fa-ul {
  list-style-type: none; /* Remove default bullet points */
  padding-left: 0; /* Remove default padding */
}

.fa-li {
  color: #71afd8;
}

.main-list {
    margin-left: 0;
    padding-left: 20px;
}


body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  color: #3498db;
  margin: 15px 0;
}

h1 {
  margin: 0 0 20px 0;
}

.flex-container {
  display: flex;
  width: 100%;
  /* height: 100%; */
  margin: 0;
}

.box {
  margin: 0;
  padding: 20px;
}

.box-1 {
  flex: 1; /* This will take 1 part of the 3 available parts */
  border-right: grey solid 1px;
}

.box-2 {
  flex: 3; /* This will take 2 parts of the 3 available parts */
}

.period {
  color: rgb(141, 146, 165);
  font-weight: 600;
  font-family: Rubik, "Noto Serif SC", "Noto Serif JP", "Noto Serif Hebrew",
    serif, "Noto Serif SC", "Noto Serif JP", "Noto Serif Hebrew";
  font-size: 14px;
}

#header {
  padding: 0 20px;
}

#footer {
  margin: 50px;
}
